body {
    font-family: Arial, sans-serif;
    background: #1c1c1c;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

h2 {
    color: #f4b400;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

input {
    background: #3c3c3c;
    color: white;
}

button {
    background:rgb(255, 217, 0);
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #ffffff;
}

.result {
    margin-top: 20px;
    background: #444;
    padding: 15px;
    border-radius: 10px;
}

.password {
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50;
}

img {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}
